* {
  background: #d9d9d9;
}

input[type="radio"] {
  display: none;
}

h1
.btn-food {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background: #08312e;
  /* color: white; */
  border: none;
  border-radius: 5px;
}

/* Change button color when selected */
input[type="radio"]:checked + button {
  background: #94b45c;
}

label,
input {
  display: inline-block;
  background-color: white;
  align-items: center;
}

p {
  display: inline-block;
  border: 1px solid white;
  background-color: white;
  /* border-radius: 30px; */
  padding: 10px;
  align-items: center;
}

.options {
  background: #94b45c;
  padding: 10px;
}

.options div {
  background: #94b45c;
  padding: 10px;
}

@media (max-width: 991.98px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
